/**
 * _variables.scss
 */

/* fonts */
$basefontsize: 1.6em;
$lightfontcolor: #fffbe0;
$darkfontcolor: #252525;

/* device size cutoffs */
$smalldevice-min: 460px;
$mediumdevice-min: 780px;
$largedevice-min: 1080px;

/* colors */
$backgroundColor: #ebebeb;

/* levels */
$bottom: 10;
$top: 100;
$aboveItAll: 1000;