@import 'normalize';
@import 'flex';
@import "compass/css3/opacity";

/* fonts */
$basefontsize: 1.6em;
$lightfontcolor: #fffbe0;
$darkfontcolor: #252525;

/* device size cutoffs */
$smalldevice-min: 460px;
$mediumdevice-min: 768px;
$largedevice-min: 1080px;

/* colors */
$backgroundColor: #ebebeb;

/* levels */
$bottom: 10;
$top: 100;
$aboveItAll: 1000;

.lighttext {
	color: $lightfontcolor;
}

.darktext {
	color: $darkfontcolor;
}

.hidden {
	position: absolute !important;
	left: -9999px !important;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
	font-size: 62.5%; /* sets root font size to ~10px */
	font-family: 'Ubuntu', sans-serif;
}

.section-content, 
.project-info {

	h1, h2, h3 {
			@extend .darktext;
			font-size: 1.198em;
			font-weight: 500;
		}

		p {
			@extend .darktext;
			font-size: 0.959em;
			font-weight: 300;
		}

		a {
			@extend .darktext;
			font-weight: 700;
		}

		.line {
			display: inline-block; 
			width: 12.5rem;
			height: 1px; 
			margin: 0 1.5rem;
			background: #000;
		}

		@media (min-width: $smalldevice-min) {

			.column {
				float:left; 
				width: 50%; 
				padding-right: 5%;
				overflow:hidden;
			}

			.line {
				width: 66%;
			}

		}

}

#content {
	width: 100%;
	font-size: $basefontsize;
}

a {
	font-weight: 700;
	color: $darkfontcolor;
	text-decoration: none;
}

.menu {
	position: absolute;
	top: 100vh;
	width: 100%;
	height: 6rem;
	margin: 0;
	background: #fff;
	z-index: $aboveItAll;

	 -moz-box-shadow:    0 10px 6px -6px #ccc;
	 -webkit-box-shadow: 0 10px 6px -6px #ccc;
	 box-shadow:         0 10px 6px -6px #ccc;

	ul {
		@include flexbox;
		@include justify-content(center);
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		display: flex;
		padding: 2rem;
		font-size: 1.8rem;
		font-weight: 300;
	}
}

#menu-toggle {
	display: none;
	position: fixed;
	top: 1em;
	left: 1em;
	z-index: $aboveItAll;

	img {
		position: absolute;
		top: -2px; left: 0;
	}
}

.section {
	width: 100%;
	background: $backgroundColor;
	text-align: center;

	.gap {
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
		text-align: center;
		overflow:hidden;
	}

	.title {
		font-size: 1.437em;
		font-weight: 500;
	}

	.subtitle {
		font-size: 0.959em;
		font-weight: 300;
	}

	.section-content {
		display: inline-block;
		margin: 30px 4.8%;
		background: $backgroundColor;
		text-align: left;
	}

	@media (min-width: $smalldevice-min) {

		.gap,
		.section-content {
			font-size: 150%;
		}

	}

	@media (min-width: $mediumdevice-min) {

		.gap,
		.section-content {
			font-size: 150%;
		}

	}

	@media (min-width: $largedevice-min) {

		.gap,
		.section-content {
			font-size: 200%;
		}

		.section-content {
			width: 108rem;
			padding: 30px 0;
			margin: 0 auto;
		}
	}

}

	.section#intro {
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
		height: 100vh;
		text-align: center;
		background: #fff;
		margin-bottom: 6rem;

		.branding {
			display: inline-block;
			vertical-align: middle;
			margin-top: -5%;

			.logo-video {
				background: #fff;
			}

			.logo {
				width: 50%;
				margin-bottom: 1em;
			}

			.site-title {
				display: none;
				margin: 0;
				font-weight:300;
				letter-spacing: 2.2px;
				text-decoration: underline;
			}
		}

		.invitation {
			position: absolute;
			bottom: 5rem;
			left: 50%;
			width: 3rem;
			height: 3rem;
			margin-left: -1.5rem;

			img {
				width: 100%;
			}

		}

		@media (min-width: $smalldevice-min) {

			.logo {
				width: 50%;
			}
		}

	}

	.section.work {
		 background: $backgroundColor;

		.section-content {
			padding: 0;
			margin: 0;
		}

		.tile {
			display: block;
			overflow: hidden;

			img {
				width: 100%;
			}

			&:hover {
				@include opacity(0.7);
			}
		}

		.row {
			@include flexbox;
			@include flex-direction(column);
			@include align-items(stretch);
			height: 150vw;

			> .tile {
				@include flex(2);
			}

			> .stack {
				@include flex(1);
			}
		}

		.stack {
			@include flexbox;
			@include flex-direction(row);
		}

		@media (min-width: $smalldevice-min) {

			.row {
				@include flex-direction(row);
				height: 66vw;
			}

			.stack {
				@include flex-direction(column);

				.tile {
					height: auto;
				}
			}

		}

		@media (min-width: $largedevice-min) {

			.section-content {
				padding: 6rem 0;
			}

			.row {
				height: 2/3 * 108rem;
			}

		}

	}

	.no-flexbox .section.work {

		.row {
			display:block;
			width: 100%;
			overflow:hidden;

			> .tile {
				width: 100%;
			}

			> .stack {
				width: 100%;
				overflow: hidden;

				.tile {
					width: 50%;
				}
			}
		}

	}

.footer {
	height: 6rem;

	.impressum {
		float: right;
		height: 100%;
		padding: 1.1em;
		font-size: 1.2em;
		font-weight: 300;
	}
}

/* Project Pages */ 

.project {

	#content {
		background: $backgroundColor;
	}

	.menu {
		position: fixed;
		top: 0;
	}

	.project-images {
		width: 100%;
		background: #fff;
		margin-top: 6rem;
		overflow: hidden;

		.slider-wrap {
			width: 100%;
			height: 0;
			padding-bottom: 78.26%;
			text-align: center;

			.slider {
				width: 80%;
			}

		}

	}

	.project-info {
		padding: 3rem 2rem;
		background: $backgroundColor;
	}

	.footer {
		height: 3em;
		background: $backgroundColor;
		padding: 0 2rem;

		.home-link {

			img {
				height: 18px;
			}

			span {
				vertical-align: top;
				padding: 0 1rem;
			}

		}
	}

	@media(min-width: 750px) {

		.project-images .slider-wrap {
			width: 75rem;
			height: 0.7826 * 75rem;
			padding: 0;
			margin: 0 auto;
		}

	}

	@media(min-width: $largedevice-min) {

		.project-info, 
		.footer {
			width: 108rem;
			margin: 0 auto;
		}

	}

}