<div class="gap" style="background: url(images/cloud_bottomz.jpg)">
    <div class="section-label">
        <h2 class="title lighttext">Contact</h2>
        <h3 class="subtitle lighttext"></h3>
    </div>
</div>
<div id="Contact" class="section-content">
    <h1>Request a quote or just say hello</h1>
    <p>
    Whether you have a specific idea for a web application or website that you would like built, or you are not exactly sure of the best solution for your needs, we can help you develop your ideas in the right direction.
    </p>
    <div style="width: 100%; text-align: center; margin: 1.6em 0;">
        <a class="btn btn-cta" href="mailto:info@code-cuts.com">get in touch</a>
    </div>
    <div class="contact-info" style="margin-bottom: 1em;">
        <div style="width: 100%" itemscope itemprop="http://schema.org/Organization">
            <div>
                <h1 itemprop="legalName" style="margin-bottom: 0;">CODECUTS</h1>
                <a itemprop="email" href="mailto:info@code-cuts.com">info@code-cuts.com</a><br/>
<!--             <div itemscope itemprop="address">
                    8743 SW Van Olinda Rd.<br/>
                    <span itemprop="locality">Vashon</span>, <span itemprop="region">WA</span> 98070</span>
                </div>-->
                <a itemprop="telephone" href="tel:+16464939263" style="font-weight:300">+1 646 493 9263</a><span itemprop="locality"> (USA)</span><br/>c
                <a itemprop="telephone" href="tel:+49 151 432 52368" style="font-weight:300">+49 151 432 52368</a><span itemprop="locality"> (Germany)</span>
            </div>
        </div>
    </div>
    <div class="client-list">
        <h1 style="margin-top:0">Proud to have worked with:</h1>
        <p>
            Lanningsmith / OK Go / Lavender Diamond / Paracadute / Hidden Recordings / Autre Ne Veut / YPS* / DZ Bank* / HEAD Tennis* / Aklamio / Aimaq von Lobenstein* / WWF* / SPD* / Essence* / SANDEMANs New Europe / ERGO* / ERGO Direkt* / Crumpler
        </p>
        <br/>
        <span style="font-size: 0.7em;">*: under contract with another agency</span>
        <br/><br/>
    </div>
</div>