<div id="Hello" class="section-content">
    <h1>CodeCuts is a creative digital collective</h1>
    <p>
        We specialize in working with clients in Europe and North America to create tailored solutions and custom designs for websites and web applications. Our focus is on providing clients with targeted advice about how to leverage web technolgoies for their particular needs.
    </p>
    <p>
        We bring broad range of experience and expertise to every project. Everything from initial conceptual frame-working to final testing is done collaboratively and in-house. Please take a look at our portfolio below. And get in touch, whatever your needs. We'd love to talk with you.
    </p>
    <div class="column">
        <div class="label-with-line">
            <h2>Visual</h2>
            <div class="line"></div>
        </div>
        <p>UI/UX design, logo and branding, photography, illustration, motion graphics and video editing<p>
    </div>
    <div class="column">
        <div class="label-with-line">
            <h2>Code</h2>
            <div class="line"></div>
        </div>
        <p>PHP, Javascript, Wordpress, Node, and AngularJS</p>
    </div>
</div>